* {
    color: #000 !important;
}

body {
    padding-top: 0;
}

.center {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

.has-grid {
    display: block;
}

.has-grid:before,
.has-grid:after {
    content: "";
    display: table;
    clear: both;
}

.has-grid > * {
    float: left;
}

header,
.sitepath,
.usps-list,
.selected-filters-list,
.article-cta form,
.save-article,
.compare-article,
.article-card.seen figure:after,
.article-tabs-nav,
.button-more-results,
.button,
.button-secondary,
.category-intro div,
.category-description,
.carrousel-container .prev,
.carrousel-container .next,
.related-articles,
.ordersteps,
.overview-payment form,
footer {
    display: none;
}

.overview-order .split-option > div {
    height: 100%;
}

.article-photos,
#body_cart main,
.overview-order .split-option {
    width: 58.33333%;
}

.article-cta,
#body_cart aside,
.overview-payment {
    width: 41.66667%;
}

.articles-list .lightsource-item,
.articles-list .article-card,
#tab-specifications .has-grid div {
    width: 33.33333%;
}

#tab-specifications .has-grid div + div {
    width: 66.66667%;
    margin-top: 0;
}

.article-tab {
    position: static;
    z-index: none;
}

.article-tab > div,
.article-tab [href^="#tab-"] {
    display: block;
}
